.App {
  font-family: 'Gamja Flower', cursive;
  font-size: 2rem;
  color: #1e96aa;
}

.App-header {
  background: linear-gradient(#888888, #000000);
}

.App-title {
  font-family: 'Rock Salt', cursive;
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

.display-container {
  display: flex;
  justify-content: center;
}

.display-item {
  flex: 0 0 auto;
  background: rgb(214, 225, 102);
  border-color: #1db0c7;
  border-radius: 30px;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.5rem;
  padding: 0 5%;
}

.episode-header-container {
  display: flex;
  border: solid rgb(50, 50, 50) 3px;
  border-radius: 30px;
  margin: 10px 10%;
  padding: 5px 10px 5px 25px;
}

.episode-header-container > div {
  display: flex;
  align-items: center;
}

.episode-header-name
{
  flex: 1 auto;
}

.episode-header-favorites
{
  flex: 0 auto;
  margin: 0 10px;
}

.episode-header-more-info
{
  flex: 0 auto;
}

.choice-true, .choice-false {
  background: rgb(90,180,90) ;
  border-color: #1db0c7;
  border-radius: 30px;
  font-family: 'Gamja Flower', cursive;
  font-size: 1.3rem;
}

.choice-false {
  background: rgb(189, 90, 90) ;
}

.info-container {
  display: flex;
  margin: 0 12%;
}

.info-item, .info-image-item , .info-long-item{
  flex: 1 20%;
  padding: 0 0 0 10px;
  margin: 2px 0;
}

.info-image-item {
  flex: 0 0 50px;
}

.info-long-item {
  flex: 2 20%;
}